[Unit]
Description=Quit Plymouth when Moode UI is ready
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'until curl -sf http://localhost:9222/json >/dev/null; do sleep 1; done; plymouth quit'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
